.periodo {

    background-color: gray;
}

.and {

    background-color: rgb(221, 221, 132);

}

.ios {

    background-color: lightblue;

}

.win {

    background-color: purple;

}

.others {

    background-color: orange;

}